body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#root {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  background-color: white;
  height: 300px;
  width: 400px;
  text-align: center;
}

button {
  height: 80px;
  font-size: 20px;
  background-color: orange;
  margin-right: 20px;
}
